<footer>
    <ul>
       <li><a class="nav-item nav-link" routerLink="/mainpage">Home</a></li>
       <li><a class="nav-item nav-link" routerLink="/byoppage">BYO Pizza</a></li>
       <li><a class="nav-item nav-link" routerLink="/menupage">Menu</a></li>
       <li><a class="nav-item nav-link" routerLink="/history">Order History</a></li>
       <li><a class="nav-item nav-link" routerLink="/about">About Us</a></li>
       <li><a class="nav-item nav-link" routerLink="/contact">Contact Us</a></li>
    
    </ul>
</footer>
