.center-screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button2 {
    height: 75px;
    width: 250px;
    background-image: url(https://ih0.redbubble.net/image.585575171.5500/flat,1000x1000,075,f.jpg);   
    
}

.element1 {
	text-shadow:
		-1px -1px 0 whitesmoke,
		1px -1px 0 whitesmoke,
		-1px 1px 0 whitesmoke,
		1px 1px 0 whitesmoke;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    height: 150px;
  }

table {
    width: 100%;
}

table, th, tr{
    text-align: center;
   
}

th {
    height: 50px;
}

tr {
    height: 75px;
    padding: 20px;   
}

th, td {
    border-bottom: 1px solid gray;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: 'Anton', sans-serif;
    /* font-family: 'Acme', sans-serif; */
    font-weight: bolder;
    font-style: oblique;
    color: rgb(0, 0, 0);
    font-size: 2em;
    text-shadow: 2px 2px #fc0505;
    margin: 0%;
    padding: 0%;
   
}