<link rel="stylesheet" href="menupage.component.css">

<div class="center-screen">
<h1>Pizza Vegana!</h1> 

<app-nav></app-nav>

<button id="byoPizzaBtn" class="button2">Build your own Pizza</button>

<hr>

<table>
    <thead>
        <th colspan="2"><h2>Pizza Vegana Menu</h2></th>
    </thead>
    <tbody>
        <tr>
            <td>Menu Item description</td>
            <td>
                <button id="menu1Btn" class="button1"> Add to Order </button>
            </td>
        </tr>
        <tr>
            <td>Menu Item description</td>
            <td>
                <button id="menu2Btn" class="button1"> Add to Order </button>
            </td>
        </tr>
        <tr>
            <td>Menu Item description</td>
            <td>
                <button id="menu3Btn" class="button1"> Add to Order </button>
            </td>
        </tr>
    </tbody>
</table>

<hr>

<button id="goBackBtn" class="button1">Go Back</button>
<button id="goToCartBtn" class="button1">Go To Cart</button>
</div>