<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<style>
 
a{
    font-size: 1.5em;
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-family: 'Anton', sans-serif;
    /* font-family: 'Acme', sans-serif; */
    font-weight: bolder;
    font-style: oblique;
    color: rgb(0, 0, 0);
    font-size: 2em;
    text-shadow: 2px 2px #fc0505;
    margin: 0%;
    padding: 0%;
   
}
 .navbar-nav {
  padding: 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; /* assumes you only want one row */
  
}

</style>

<nav class="navbar navbar-expand navbar-dark bg-success">
    <div class="navbar-nav">
        <h1>Pizza Vegana!</h1> 
        <a class="nav-item nav-link" routerLink="/main"></a>
        <a class="nav-item nav-link" routerLink="/main"></a>
        <a class="nav-item nav-link" routerLink="/main">Home</a>
        <a class="nav-item nav-link" routerLink="/byoppage">BYO Pizza</a>
        <a class="nav-item nav-link" routerLink="/menupage">Menu</a>
        <a class="nav-item nav-link" routerLink="/history">Order History</a>
        <a class="nav-item nav-link" routerLink="/checkout">Cart</a>
        <a class="nav-item nav-link" routerLink="/about">About Us</a>
        <a class="nav-item nav-link" routerLink="/contact">Contact Us</a>
        <button id = "logInBtn" class="btn btn-success" (click) = "loggedoutbtn()">Log Out</button>
        
    </div>
</nav>