
#logdiv{
    margin: 0px;
    padding: 0%;
    height: 50vw;
    width: 100vw;
    position: relative;
    text-align: center;
    background-color: rgba(7, 7, 7, 0.26);  
}

#logpic{
    margin: 0px;
    padding: 0%;
    width: auto;
    height: 100%;
    opacity: 90%;
   
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h1{
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-family: 'Anton', sans-serif;
      /* font-family: 'Acme', sans-serif; */
      font-weight: bolder;
      font-style: oblique;
      color: rgb(0, 0, 0);
      font-size: 3em;
      text-shadow: 2px 2px #fc0505;
  }

 #logInBtn{
     font-size: 1.5em;
 }

 p{
     /* display: inline; */
     color: rgb(239, 245, 239);
     font-weight: bold;
     margin-top: 10%;
     margin-bottom: 10%;
     font-size: 1.5em;
 }
 a{
    color: rgb(254, 255, 254); 
    font-weight: bold;
    font-size: 1.2em;
 }

 #guest{
     display: inline;
     color:rgba(240, 243, 245, 0.336);
 }

 #logInBtng{
     display: inline;
     border: none;
    color: rgba(240, 243, 245, 0.336);
    background-color: rgba(128, 128, 128, 0.404);
 }