<div>
    <h1> This is the checkout page </h1>
</div>
<div> </div>
<div>
    <table border=2>
        <tr>
            <th>Items</th>
            <th>Pizza Name</th>
            <th>Pizza Items</th>
            <th>Price</th>
        </tr>
        <tr *ngFor="let pizza of pizzaArray; let i = index">
            <td> {{i+1}} </td>
            <td> {{pizza.pizzaName}}</td>
            <td> (Size: {{pizza.size}}), {{pizza.dough}}, {{pizza.sauce}}, {{pizza.cheese}}, (Toppings:
                {{pizza.toppings}}), (Extras: {{pizza.extras}})</td>
            <td> {{pizza.cost}}</td>
        </tr>
        <tr *ngFor="let pizza1 of pizzaArray; let i1 = index">
            <td></td>
            <td></td>
            <td></td>
            <td>{{pizza1.cost}}</td>
        </tr>

    </table>
</div>

<div></div>
<button (click)="submitNewTicket()" id="">Place Order</button>
<br>
(this will redirect to the checkout page.
it will also insert into the 1) ticket, 2)pizza, 3)pizza-pizzaitems table)
<br><br><br><br>
<Button id="">Back To Cart</Button>
<br>
(this will redirect back to the cart page)
<hr>
